@charset "UTF-8";
/* Base */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat";
  color: #3A3A3A;
}

.contenedor {
  max-width: 1420px;
  margin: auto;
  overflow: hidden;
}

@font-face {
  font-family: "Antonio";
  src: url(../audio/Antonio-Bold.ttf) format("woff");
}
/* Components */
/************** CONTACTO ******************/
#contacto {
  background-color: orangered;
}
#contacto .titulo-secciones {
  font-family: "Antonio";
  font-size: 50px;
  color: #FFFEFA;
  letter-spacing: 5px;
}
#contacto .form-floating {
  margin-top: 40px;
}
#contacto .btn {
  margin: 40px 0px;
  background-color: #FFFEFA;
  border: 0px;
  color: #3A3A3A;
}
#contacto .icon-bar p {
  color: #FFFEFA;
  font-weight: "Montserrat";
  margin-top: 40px;
}
#contacto .icon-bar i {
  color: #FFFEFA;
  margin: 20px;
  font-size: 40px;
}

/************** HEADER ******************/
header {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/fondo.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header .contenedor {
  max-width: 1420px;
  margin: auto;
  overflow: hidden;
}
header .contenedor .logo {
  height: 50px;
  margin-left: 10px;
}
header .contenedor .nav-link {
  color: #3A3A3A;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2px;
}
header .contenedor .nav-link:hover {
  color: #CC0000 !important;
}
header .contenedor .titulo-container {
  padding: 60px;
  text-align: center;
  font-weight: 300;
}
header .contenedor .titulo-container .titulo {
  margin-bottom: 30px;
}
header .contenedor .titulo-container .titulo img {
  width: 70%;
  margin-bottom: 10px;
}
header .contenedor .titulo-container h1 {
  font-size: 24px;
  letter-spacing: 5px;
}
header .contenedor .titulo-container p {
  font-size: 16px;
  letter-spacing: 2px;
}
header .contenedor .titulo-container .botonera {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #FFFEFA;
  margin-bottom: 20px;
}
header .contenedor .titulo-container .botonera:hover {
  border: 1px solid #CC0000;
}
header .contenedor .titulo-container .botonera a {
  text-decoration: none;
  color: gray;
  letter-spacing: 5px;
  font-size: 11px;
  font-weight: 600;
}
header .contenedor .titulo-container .botonera a:hover {
  color: #CC0000;
}

/************** QUIENES SOMOS ******************/
#quienes-somos {
  background-color: #65CACA;
}
#quienes-somos .somos-shimai {
  display: flex;
  justify-content: space-between;
}
#quienes-somos .somos-shimai .video {
  width: 50%;
  padding: 100px;
}
#quienes-somos .somos-shimai .video .contenedor-video {
  background-color: #FFFEFA;
}
#quienes-somos .somos-shimai .video .video-quienes-somos {
  position: relative;
  top: 30px;
  left: 30px;
  width: 100%;
}
#quienes-somos .somos-shimai .textos-quienes-somos {
  width: 50%;
}
#quienes-somos .somos-shimai .textos-quienes-somos .titulo-quienes-somos img {
  width: 100%;
}
#quienes-somos .somos-shimai .textos-quienes-somos .texto-quienes-somos {
  width: 85%;
  margin: 30px 0px;
  color: #FFFEFA;
  font-weight: 300;
}

/************** SERVICIOS ******************/
#servicios {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/fondo.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 70px 0px;
}
#servicios .titulo-secciones {
  font-family: "Antonio";
  font-size: 50px;
  color: #65CACA;
  letter-spacing: 5px;
}
#servicios .servicios-shimai {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#servicios .servicios-shimai .servicio {
  width: 20%;
  padding: 15px;
}
#servicios .servicios-shimai .servicio img {
  margin-bottom: 20px;
}
#servicios .servicios-shimai .servicio h3 {
  margin: 30px 0px;
  color: #3A3A3A;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
}

/************** GALERÍA ******************/
#galeria {
  background-color: #F7DFA6;
  padding-bottom: 80px;
}
#galeria .titulo-galeria {
  display: flex;
  justify-content: flex-end;
}
#galeria .titulo-galeria img {
  width: 50%;
}
#galeria .contenedor-galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0px;
}
#galeria .contenedor-galeria .imagen-contenedor {
  width: 390px;
  margin: 10px;
  position: relative;
}
#galeria .contenedor-galeria .imagen-contenedor .imagen-item {
  width: 100%;
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#galeria .contenedor-galeria .imagen-contenedor .destacado {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #CC0000;
}
#galeria .contenedor-galeria .imagen-contenedor .destacado:hover {
  opacity: 1;
}
#galeria .contenedor-galeria .imagen-contenedor .text {
  color: #FFFEFA;
  font-family: "Montserrat";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/************** TEAM ******************/
#team {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/fondo2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding: 70px 0px;
}
#team .titulo-secciones {
  font-family: "Antonio";
  font-size: 50px;
  color: #CC0000;
  letter-spacing: 5px;
}
#team .contenedorteam {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#team .contenedorteam .fototeam {
  width: 20%;
  padding: 20px;
}
#team .contenedorteam .fototeam img {
  margin-bottom: 20px;
}
#team .contenedorteam .fototeam h3 {
  margin: 30px 0px;
  color: #3A3A3A;
  font-weight: 600;
  font-family: "Antonio";
  font-size: 30px;
  letter-spacing: 2px;
}
#team .contenedorteam .fototeam p {
  color: #3A3A3A;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

/************** RESPONSIVE ******************/
@media only screen and (max-width: 960px) {
  #quienes-somos .somos-shimai {
    flex-direction: column;
    align-items: center;
  }
  #quienes-somos .somos-shimai .video {
    width: 100%;
  }
  #quienes-somos .somos-shimai .textos-quienes-somos {
    width: 80%;
    margin: auto;
  }
  #quienes-somos .somos-shimai .textos-quienes-somos img {
    width: 80%;
    margin: auto;
  }

  #servicios .servicios-shimai {
    padding: 30px;
    flex-wrap: wrap;
  }
  #servicios .servicios-shimai .servicio {
    width: 40%;
    padding: 15px;
  }

  #team .contenedorteam {
    flex-wrap: wrap;
  }
  #team .contenedorteam .fototeam {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  #servicios .servicios-shimai {
    flex-direction: column;
  }
  #servicios .servicios-shimai .servicio {
    width: 100%;
    padding: 15px;
  }

  #team .contenedorteam {
    flex-direction: column;
  }
  #team .contenedorteam .fototeam {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
