/************** CONTACTO ******************/
#contacto{  
    background-color: orangered;

    .titulo-secciones { 
        font-family: 'Antonio';
        font-size: 50px;
        color: $bg-color;
        letter-spacing: 5px;
    }

    .form-floating{
        margin-top: 40px;
    }
    .btn{
        margin: 40px 0px;
        background-color: $bg-color;
        border: 0px;
        color: $color-font;
    }

    .icon-bar{
        p{
            color: $bg-color;
            font-weight: $font-principal;
            margin-top: 40px;
        }
        i{
            color:$bg-color;
            margin: 20px;
            font-size: 40px;
        }

    }
}