/************** GALERÍA ******************/
#galeria {
    background-color:#F7DFA6;
    padding-bottom: 80px;

    .titulo-galeria {
        display: flex;
        justify-content: flex-end;
        img{
            width: 50%;
        }
    }

    .contenedor-galeria{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0px;
  
    .imagen-contenedor{
        width: 390px;
        margin: 10px ;
        position: relative;

            .imagen-item{
                width: 100%;
                opacity: 1;
                height: auto;
                transition: .5s ease;
                backface-visibility: hidden;
                }
            .destacado {
                &:hover {
                    opacity: 1;
                }
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: $color-primario;
                }
            
                .text {
                    color:$bg-color;
                    font-family: $font-principal;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    }
        }
    }
}




