@media only screen and (max-width: 860px) {
   
    #quienes-somos .somos-shimai{
        flex-direction: column;
        align-items: center;
    
    
    .video  {
        width: 100%;  
    }
    
    
    .textos-quienes-somos {
        width: 80%;
        margin: auto;  
        
        img{
            width: 80%;
            margin: auto;    
        }
    }
}


    #servicios .servicios-shimai {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    
    
    .servicio {
        width: 100%;
        padding: 15px;
    }
}
}